* {
    border-radius: 3px;
    border: none;
}

window {
    border-radius: 5px;
    font-size: 23px;
    font-family: Roboto Mono Medium;
    background-color: rgba(50, 50, 50, 0.2);
    color: white;
    border-bottom: 3px solid white;
}

#entry {
    padding: 0.25em;
}

#entry:selected {
    background-color: #bbccdd;
    background: linear-gradient(90deg, #bbccdd, #dd77ff)
}

#text:selected {
    color: #333333;
}

#input {
    background-color: rgba(50, 50, 50, 0.5);
    color: white;
    padding: 0.25em;
}